@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <hr />
    <h4>Statistics</h4>
    <p>Total Categories: <strong>@ViewBag.TotalCategories</strong></p>
    <p>Total Products: <strong>@ViewBag.TotalProducts</strong></p>
</div>